name: CI

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'entrypoint.sh'
      - 'tracing/**'
      - '.github/workflows/ci.yaml' # To trigger build when matrix is updated
  pull_request:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'entrypoint.sh'
      - 'tracing/**'

permissions:
  contents: read
  packages: write

jobs:
  docker-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        n8n-version:
          - '2.0.0'
          - '1.123.5'
          - '1.123.4'
          - '1.123.3'
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=raw,value=${{ matrix.n8n-version }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: |
            linux/amd64
            linux/arm64
          context: .
          file: Dockerfile
          build-args: |
            N8N_VERSION=${{ matrix.n8n-version }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha, mode=max 
  